$primary-color: #72147E;
$secondary-color: #F21170;
$orange-color:#FF5200;
$light-color: #fafafa;
$dark-color: #444444;


$colors: (
  'primary': $primary-color,
  'secondary': $secondary-color,
  'orange':$orange-color,
  'error': #e61919,
  'light':$light-color,
  'dark':$dark-color,
);